.interface, #printSection {
    margin: .1em
}

html {
    background-color: #fff;
    color: #000;
    font: 1em / 1.26 Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0
}

body {
    background-color: #fff;
    margin: 0;
    padding: 0
}

.pb {
    page-break-after: right;
    clear: both
}

.artifact {
    display: inline-block;
    position: relative;
    width: 99%;
    background-color: #fff;
    border: .2em solid #000
}

.ratio-control {
    padding-top: 65%
}

.card-frame {
    position: absolute;
    top: 0;
    bottom: 2em;
    left: 0;
    right: 0
}

.header {
    border: .3em solid #77787b;
    border-width: .3em 0;
    height: 15%;
    vertical-align: middle;
    width: 100%
    position: relative;
    margin-top: 30px;
}

.header.defect {
    background: #bd0e53;
    color: #FFF;
}
.header.hierarchicalrequirement {
    background: #83c63c;
    color: #FFF;
}


.card-title {
    font: 700 2.7em Calibri, Genova, Arial, sans-serif;
    margin: .5em .5em;    
}

.estimate {
    border-radius: 50%;
    width: 108px;
    height: 108px;
    padding: 8px;
    background: #fff;
    border: 8px solid #77787b;
    color: #77787b;
    text-align: center;
    font: 90px Calibri, Genova, Arial, sans-serif;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 41.5%;
}

.estimate.defect {
    color: #86294e;
}

.estimate.hierarchicalrequirement {
    color: #578f1b;
}


.description {
    float: left;
    font: 1.4em Calibri, Genova, Arial, sans-serif;
    margin: .25em auto 0;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0em;
    overflow-y: hidden;
    word-wrap: break-word
}

.owner {
    float: right;
    height: 2%
}

.ownerText {
    float: right;
    font: 2.5em / 1.26 Arial, Helvetica, sans-serif;
    margin-right: .5em;
    margin-top: .6em
}

.storyID {
    float: left;
    font: 3em / 1.26 Arial, Helvetica, sans-serif;
    margin-left: .5em;
    margin-top: .4em
}

.rank {
    font-style: oblique;
    padding-left: .5em;
    font-size: 1em;
    color: grey;
}

.content {
    height: 80%;
    overflow: hidden;
    width: 100%
}

.hidden {
    display: none;
}